// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  h1 { 
    font-size: 60px;
  }
  padding-top: 60px;
  padding-bottom: 40px;
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .lead {
    padding-top: 20px;
    font-size: 16px;
    @media (max-width: 767px) {
      font-size: 11px;
    }
    color: #888;
    line-height: 1.2em;
  }
}

.intro {
  font-size: 30px;
  font-weight: bold;
  @media (max-width: 767px) {
      font-size: 20px;
  }
  i {
    color: #888;
    font-size: 16px;
    font-weight: normal;
    @media (max-width: 767px) {
      font-size: 11px;
    }
  }
  padding-bottom: 10px;
  @media (max-width: 767px) {
    padding-bottom: 0px;
  }
}


.things {
  .thing {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (max-width: 767px) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .name {
      font-size: 30px;
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }  
    
    a:hover {
      cursor:pointer;
    }
    .buttons {
      position: absolute;
      bottom: -5px;
      a {
        padding-right: 10px;
      }
      margin-left: 30px;
      @media (max-width: 767px) {
        bottom: -8px;
        font-size: 12px;
      }
    }
    a.inactive {
      color: #555;
    }
    min-height: 35px; 
    padding-bottom: 15px; 
    .icon {
      width: 30px;
      height: 40px;
      margin-top: 2px;
      float: left;
      font-size: 20px;
      color: #157AB5;
      @media (max-width: 767px) {
        margin-top: 0px;
        height: 25px;
      }
    }
    input {
      width: 450px;
      @media (max-width: 767px) {
        width: 210px;
      }
    }
    form {
      height: 35px;
      margin-bottom: 0px;
    }
  }

}

.tickLabel {
  font-weight: bold;
}

.add-thing {
  font-size: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
  @media (max-width: 767px) {
    font-size: 15px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  input {
    width: 450px;
    @media (max-width: 767px) {
        width: 210px;
      }
  }
  a {
    cursor: pointer;
  }
  min-height: 35px;
}

.footer {
  margin-top: -50px;
  padding-bottom: 20px;
  color: #888;
  @media (max-width: 767px) {
     margin-top: -30px;
  }
}

.scores {
  text-align: center;
  h1 { 
    font-size: 200px;
    padding-top: 60px;
    padding-bottom: 65px;
    text-align: center;
  }
  .hundreds h1 {
    font-size: 140px;
  }
  .thousands h1 {
    font-size: 100px;
  }
  .buttons {
    a {
    cursor: pointer;
    }
    a.active {
      color: #888;
    }
  }
}

#chart {
  height: 400px;
  width: inherit;
  margin-bottom: 20px; 
  .tickLabel {
    font-size: 15px;
  }
}
