// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  h1 { 
    font-size: 60px;
  }
  padding-top: 60px;
  padding-bottom: 40px;
  .lead {
    padding-top: 20px;
    font-size: 16px;
    color: #888;
    margin-left: 5px;
    line-height: 1.2em;
  }
}

.intro {
  font-size: 30px;
  font-weight: bold;
  i {
    color: #888;
    font-size: 16px;
    font-weight: normal;
  }
  padding-bottom: 10px;
}


.things {
  .thing {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    .name {
      font-size: 30px;
      line-height: 1.2em;
    }  
    a:hover {
      cursor:pointer;
    }
    .buttons {
      position: absolute;
      bottom: -12px;
      a {
        padding-right: 10px;
      }
      margin-left: 30px;
    }
    a.inactive {
      color: #555;
    }
    min-height: 30px; 
    padding-bottom: 15px; 
    .icon {
      width: 30px;
      height: 40px;
      margin-top: 8px;
      float: left;
      font-size: 20px;
      color: #157AB5;
    }
    input {
      width: 450px;
    }
  }

}

.add-thing {
  font-size: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
  input {
    width: 450px;
  }
  a {
    cursor: pointer;
  }
}

.footer {
  margin-top: -50px;
  padding-bottom: 20px;
  color: #888;
}

.scores {
  text-align: center;
  h1 { 
    font-size: 200px;
    padding-top: 60px;
    padding-bottom: 65px;
  }
  .hundreds h1 {
    font-size: 140px;
  }
  .thousands h1 {
    font-size: 100px;
  }
  .buttons {
    a {
    cursor: pointer;
    }
    a.active {
      color: #888;
    }
  }
}

#chart {
  height: 400px;
  width: inherit;
  margin-bottom: 20px; 
  .tickLabel {
    font-size: 15px;
  }
}